body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  align-content: center;
  align-self: center;
}
.intro {
  text-align: center;
  margin-top: 20px;

}
h3 {
  background-color: rgb(61, 139, 135);
  color: white;
  text-align: left;
  padding: 10px;
  margin: 0;
}

#Title {
  font-size: 50px;
  color: white;
  text-align: center;
  background-color: rgb(61, 139, 135);
}
a:hover {
  color: white;
  font-size: 25px;
}
a {
  color: blue;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
p {
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}
.footer {
  color: rgb(171, 219, 209);
  background-color: rgb(60, 89, 117);
  font-family: system-ui;
  font-size: small;
}
@media screen and (max-width: 600px) {
  body {
    background-color: rgb(139, 140, 192);
  }
  #Title {
    font-size: 30px;
    background-color: rgb(61, 139, 135);
  }
  a {
    font-size: 10px;
  }
}
